@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --custom-accent: #8b2635;
  --custom-accent-pressed: #76222e;
  --custom-secondary: #f3e7e7;
  --custom-secondary-pressed: #d5c8c8;

  --custom-text-black: #2d2d2d;
  --custom-text-light: #707070;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

*:focus {
  outline: none;
  box-shadow: none;
}

html,
body {
  background-color: #f8f8f8;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.p {
  font-family: Fira Sans;
  font-size: 12px;
  text-align: left;
}

.p-def {
  color: var(--custom-text-black);
  font-family: Fira Sans;
  font-size: 12px;
  text-align: left;
}

.p-light {
  color: var(--custom-text-light);
  font-family: Fira Sans;
  font-size: 12px;
  text-align: left;
}

.h1-def {
  color: var(--custom-text-black);
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h2-def {
  color: var(--custom-text-black);
  font-size: 36px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h3-def {
  color: var(--custom-text-black);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h3-light {
  color: var(--custom-text-light);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h4-def {
  color: var(--custom-text-black);
  font-size: 20px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h4-light {
  color: var(--custom-text-light);
  font-size: 20px;
  font-family: Fira Sans;
  font-weight: 400;
}
.h4 {
  font-size: 20px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h5-def {
  color: var(--custom-text-black);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h5-light {
  color: var(--custom-text-light);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}

.h5 {
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}

.n1-def {
  color: var(--custom-text-black);
  font-size: 15px;
  font-family: Fira Sans;
  font-weight: 700;
}

.n1-light {
  color: var(--custom-text-light);
  font-size: 15px;
  font-family: Fira Sans;
  font-weight: 700;
}

.n2-def {
  color: var(--custom-text-black);
  font-size: 12px;
  font-family: Fira Sans;
  font-weight: 700;
}

.hint {
  color: var(--custom-text-black);
  font-size: 8px;
  font-family: Fira Sans;
  font-weight: 400;
}

.scrollbar-0 {
  scrollbar-width: none;
}

.scrollbar-0::-webkit-scrollbar {
  width: 0;
}

.scrollbar-0::-webkit-scrollbar-track {
  width: 0;
}

.block-shadow {
  box-shadow: 0 0 10px 1px #00000020;
}

.accent {
  background: var(--custom-accent);
}

.accent:hover {
  background: var(--custom-accent-pressed);
}

.accent-border {
  border: 1px so var(--custom-accent-pressed);
}

.accent-border:hover {
  background: var(--custom-secondary-pressed);
}

.sidepage:hover {
  background: var(--custom-secondary);
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

/* dadata input */
.react-dadata__container {
  position: relative;
}
.h5-def {
  color: var(--custom-text-black);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}

.react-dadata__input {
  box-sizing: border-box;
  border: 1px solid var(--input);
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 36px;
  padding: 4px 12px;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  font-size: 16px;
  display: block;
  color: var(--custom-text-black);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}
.react-dadata__input:focus {
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.react-dadata__suggestions {
  z-index: 50;
  padding: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  outline-style: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  overflow: hidden;
  color: var(--custom-text-black);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}
.react-dadata__suggestion-note {
  color: #828282;
  padding: 10px 10px 5px;
  font-size: 14px;
  color: var(--custom-text-black);
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 400;
}
.react-dadata__suggestion {
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
  background: 0 0;
  border: none;
  width: 100%;
  padding: 7px 10px;
  font-size: 15px;
  display: block;
}
.react-dadata__suggestion--line-through {
  text-decoration: line-through;
}
.react-dadata__suggestion-subtitle {
  color: #777;
  margin-top: 4px;
  font-size: 14px;
}
.react-dadata__suggestion-subtitle-item {
  margin-bottom: 4px;
  margin-right: 16px;
  display: inline-block;
}
.react-dadata__suggestion-subtitle-item:last-child {
  margin-right: 0;
}
.react-dadata__suggestion--current {
  background-color: var(--custom-secondary);
}
.react-dadata__suggestion:hover {
  background-color: var(--custom-secondary);
}
.react-dadata mark {
  background: 0 0;
}
.react-dadata--highlighted {
  color: var(--custom-accent);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
